html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Variables */
:root {
  --border: 2px solid black;
}

header,
main {
  margin: 0 auto;
  max-width: 750px;
}

/* Image */
img {
  max-height: 400px;
  object-fit: cover;
  width: 100%;
}

/* Article */
article {
  border-bottom: var(--border);
  border-left: var(--border);
  border-right: var(--border);
  padding: 10px 15px 0 15px;
}

article h2 {
  margin-top: 0;
}

/* Tabs */
.tabs {
  display: flex;
  margin: 15px 0 0 0;
  padding: 0;
}

.tab {
  border-bottom: var(--border);
  border-left: var(--border);
  border-top: var(--border);
  border-radius: 5px 5px 0 0;
  flex: 1;
  padding: 10px;
  list-style: none;
  text-align: center;
}

.tab:hover,
.tab:active {
  cursor: pointer;
}

.tab:last-child {
  border-right: var(--border);
}

/* Selected Tab */
.selected {
  background: black;
  color: white;
}

/* Menu */
.menu {
  padding: 0;
}

.menu-item {
  list-style: none;
}
