html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Variables */
:root {
  --black: #333;
  --border: 2px solid var(--black);
}

/* Basic Sizing */
header,
main {
  margin: 0 auto;
  max-width: 750px;
}

/* Typography */
body {
  color: var(--black);
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Italianno', sans-serif;
}

/* Header */
header h1 {
  border-bottom: 2px solid maroon;
  font-size: 3em;
  margin: 0 0 20px 0;
}

/* Image */
img {
  max-height: 400px;
  object-fit: cover;
  width: 100%;
}

/* Article */
article {
  border-bottom: var(--border);
  border-left: var(--border);
  border-right: var(--border);
  padding: 10px 15px 0 15px;
}

article h2 {
  border-bottom: 2px solid maroon;
  font-size: 2em;
  margin: 0 0 5px 0;
}

article h3 {
  font-size: 1.5em;
  margin-bottom: 5px;
}

ul p {
  margin-top: 5px;
}

ul p:last-child {
  margin-bottom: 40px;
}

/* Tabs */
.tabs {
  display: flex;
  margin: 15px 0 0 0;
  padding: 0;
}

.tab {
  background: var(--black);
  border-left: var(--border);
  border-top: var(--border);
  border-radius: 5px 5px 0 0;
  color: white;
  flex: 1;
  padding: 10px;
  list-style: none;
  text-align: center;
}

.tab:hover,
.tab:active {
  cursor: pointer;
}

.tab:last-child {
  border-right: var(--border);
}

/* Selected Tab */
.selected {
  background: white;
  color: var(--black);
}

/* Menu */
.menu {
  padding: 0;
}

.menu-item {
  list-style: none;
}
